* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #AAA;
  border-radius: 0;
  min-height: 80px;
}

.navbar-header {
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
  min-height: 80px;
}

.navbar-brand {
  padding-top: 20px;
}

.navbar-brand h1 { /* Company name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #F2F2F2;
  clear: both;
}

#nav-list a {
  color: #111;
  border-bottom: 1px solid #000;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle:active {
  border: 1px solid #FFF;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

section {
  padding: 0px 15px 2px 15px;
  background-color: #AAA;
}

section > h3 {
  padding-top: 5px;
}

.navbar {
  margin-bottom: 0px; /* override Bootstrap */
}

/* desktop and tablet only */
@media (min-width: 768px) {
  #header-nav {
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
  }
  .navbar-header {
    border: 0;
  }
}
